/*
 * Prettier header
 */

header#banner h1 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1em 0.5em;
}

/*
 * Article style
 */

article {
    font-size: 1em;
    hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        -webkit-hyphens: auto;
    margin: auto 0.5em;
    width: 50%;
}

article h2, article h3 {
    text-align: center;
}

/*
 * Interactive toc
 */

nav.contents.topic {
    background-color: black;
    background-clip: padding-pox;
    border-radius: 6px;
        -webkit-border-radius: 6px;
    color: white;
    font-size: 0.9em;
    margin: 0;
    opacity: 0.8;
    padding-left: 0.5em;
    position: absolute;
        top: 162px;
        right: 0;
        z-index: 1;
    } nav.contents.topic:before {
        content: "";
        border-top: 1em solid transparent;
        border-left: 1em solid white;
        height: 0;
        position: absolute;
            bottom: 0;
            left: 0;
        width: 0;
    } nav.contents.topic:hover {
        padding-left: 0;
        } nav.contents.topic:hover:before {
            border: 0;
}

nav.contents.topic h2 {
    margin: 0.5em;
    text-align: right;
}

nav.contents.topic ol {
    color: #EEE;
    display: none;
    line-height: 1em;
    margin: 0 0.5em 0.5em;
    transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
    } nav.contents.topic:hover ol {
        display: block;
    } nav.contents.topic > ol {
        padding-left: 0;
}

nav.contents.topic a {
    color: inherit;
    } nav.contents.topic a.finished {
        color: red;
    } nav.contents.topic a.active:after {
        content: "\2605";
        padding-left: 0.2em;
    } nav.contents.topic a.active:before {
        content: "\2605";
        padding-right: 0.2em;
}

/*
 * Interactive footnotes
 */

div.interactive-footnote {
    border-left: 1px solid black;
    font-size: 0.875em;
    line-height: 1.2em;
    margin: .5em 0 .5em 1.2em;
    padding: .2em;
    position: absolute;
        left: 50%;
    width: 25%;
}

::selection {
    background-color: black;
    color: red;
    } ::-moz-selection {
        background-color: black;
        color: red;
}