# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# all temp files (~)
*~
*#*#
public/theme/.webassets-cache/*

# all python compiled files (.pyc)
*.pyc

# Database files
*.db

# leave the output folder alone
output/*

# Other files
