{% extends "index.html" %}

{% from "snippets/post_info.html" import article_preview %}

{% block title %}{{ category }}{% endblock %}

{% block contents %}
    <section class="content category clearfix" id="{{ category.slug }}">
        <aside class="article-list"><ul>
            {% for article in articles %}
                <li><a href="#{{ article.slug }}-preview">{{ article.title }}</a></li>
            {% endfor %}
        </ul></aside>
        <section class="category-content">
            <header>
                <h2>{{ category }}</h2>
                {% block summary %}
                    {% include "snippets/" ~ category.slug ~ "_summary.html"
                    ignore missing %}
                {% endblock summary %}
            </header>
            {{ article_preview(articles, category) }}
        </section>
    </section>
{% endblock contents %}
