{% extends "base.html" %}
{% from "snippets/post_info.html" import article_preview %}

{% block bodyclass %}index{% endblock %}

{% block body %}
    {% block header %}
        <header id="main-header">
            {% include "snippets/main_heading.html" %}
        </header>
    {% endblock header %}
    <div class="content-container">
        {% block contents %}
            <section class="content clearfix">
                {% include "snippets/main_nav.html" %}
            </section>
        {% endblock contents %}
    </div>
    {% block footer %}
        <footer id="main-footer">
            {% include "snippets/main_footer.html" %}
        </footer>
    {% endblock footer %}
{% endblock body %}
