{% extends "base.html" %}

{% import "page_info.html" as page_info with context %}
{% from "snippets/macros.html" import add_less %}

{% block title %}{{ article.title }}{% endblock %}
{% block stylesheets %}
    {{ super() }}
    {{ add_less("sogur") }}
    {{ add_less("occupy") }}
{% endblock %}

{% block body %}
    <header id="main_header">
        {% include "snippets/main_heading.html" %}
    </header>
    <article>
        <header>
            <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a></h1>
            {{ article.toc }}
        </header>
        <div class="entry-content">
            {{ article.content }}
        </div>
        <footer>
            {{ article.footnotes }}
            <small>Skrifað {{ article.locale_date }}<br />
            Eftir {{ article.author }}</small>
        </footer>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ SITEURL }}/theme/js/occupy.js"></script>
{% endblock %}
