{% import "page_info.html" as page_info with context %}
{% import "post_info.html" as post_info %}
{% extends "category.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    {% block header %}
        {% call page_info.header() %}
        {% endcall %}
    {% endblock %}

    {% block contents %}
        <article id="content" class="body">
            {{ post_info.header(article) }}
            {{ post_info.footer(article) }}
            <div class="entry-content">
                {{ article.content }}
            </div>
        </article>
    {% endblock %}

    {% block footer %}
        {{ page_info.footer() }}
    {% endblock %}
{% endblock %}
