{% import "page_info.html" as page_info with context %}
{% import "post_info.html" as post_info %}

{% call page_info.header() %}
    <h2><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></h2>
{% endcall %}
{{ page_info.main_nav() }}
{% block content %}
    <section id="content">
        <h1>Pistlar</h1>
        <ul id="post-list">
            {% for article in articles_page.object_list %}
                <li>
                    <article class="hentry">
                        {{ post_info.header(article) }}
                        {{ post_info.footer(article) }}
                        <div class="entry-content">
                            {{ article.summary }}
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
        {% include 'pagination.html' %}
    </section>
{% endblock %}
{{ page_info.footer() }}
