<address>
    Þessi síða er unnin með
    <span rel="framework">
        <a title="Pelican" href="http://getpelican.com/">Pelican</a>
    </span> regliverkinu, sem notast við
    <span rel="programing-language">
        <a title="Python" href="http://python.org">Python</a>
    </span> forritunarmálið. Allan frumkóða síðunnar má nálgast á
    <span rel="source-code">
        <a title="git-repository" href="https://github.com/runarberg/runarberg">
            Git-hirslunni
        </a> minni.
    </span>
</address>
<div class="license">
    <div class="license-text">
        Allt það
        <span xmlns:dct="http://purl.org/dc/terms/"
              href="http://purl.org/dc/dcmitype/InteractiveResource"
              rel="dct:type">
              efni
        </span>
        sem birtist hér, er gefið út með
        <a rel="license"
           href="http://creativecommons.org/licenses/by-sa/3.0/deed.is">
           Creative Commons Tilvísun-DeilaEins 3.0 Óstaðfært afnotaleyfi
        </a>, nema annað sé tekið fram.
    </div>
    <a class="license-img" rel="license"
       href="http://creativecommons.org/licenses/by-sa/3.0/deed.is">
       <img alt="Creative Commons leyfi" height="31" width="88"
            src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
    </a>
</div>
