{% macro header() %}
    <header id="banner" class="body">
        <h1><a href="{{ SITEURL }}">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        {{ caller() }}
    </header>
{% endmacro %}

{% macro main_nav() %}
    <nav class="main_nav">
        <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in PAGES %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% for cat, null in categories %}
                    <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
{% endmacro %}

{% macro footer() %}
    <footer id="contentinfo" class="body">
        <address id="about" class="vcard body">
            Unnið með <a href="http://getpelican.com/">Pelican</a> regliverkinu,
            sem notast við <a href="http://python.org">Python</a> forritunarmálið.
        </address>
    </footer>
{% endmacro %}
